{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>

    {% if post.authors %}
      <p class="page__meta">{{ post.authors }}</p>
    {% endif %}

    {% if post.venue %}
      <p class="page__meta">
        <em>{{ post.venue }}</em>{% if post.date %} ({{ post.date | date: "%Y" }}){% endif %}
      </p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% include publication-links.html %}
  </article>
</div>
